div.status {
    text-align:left;
    background-color:#FFF;
    padding:5px;
    margin-bottom:2px;
    border: 1px solid #CECECE;
    border-left-width: 0;
    border-right-width: 0;
    border:0;
    width:100%;
}

div.status img { vertical-align:middle; margin-bottom:3px; }

div.charts { clear: both; }
div.chart, div.metric { float: left; margin-right: 5px; }
div.metric div.values h2 { font-size: normal; }

h4.metric-title { width: 200px; margin-top:0px; }
h4.metric-body { padding-left:5px; }
div.metric-icon { float:left; padding:2px; }
div.metric-percent { float:left; padding:2px; }
div.metric-some-other-number { float:left; padding:2px; }
table.metric td { vertical-align:top; }

div.build { width:100%; }

div.project {
    margin: 0;
    padding: 0 10px;
    background: #4b4b4a url(/img/bgBuildTitle.gif) repeat-x 0 0;
    border-top: solid 1px #41403f;
    border-left: solid 1px #41403f;
    border-right: solid 1px #41403f;
}

div.project h2 {
    margin: 0;
    padding: 3px 0 2px 0;
    font-family: trebuchet ms, verdana, tahoma, arial, sans-serif;
    color: #fff;
    font-size: 130%;
    font-weight: normal;
}

div.project h2, div.project a { color: #FFF; }
a.buildName {
    margin: 0 0 0 6px;
    padding: 0 0 0 5px;
    font-family: tahoma, arial, sans-serif;
    font-size: 110%;
    font-weight:bold;
}

img#status_icon { width:16px; height:16px; }