div#coriander-haarlem-tab-content {
    z-index:100;
    height:100%;
    position:relative;
    margin-top:0px;
    padding:10px;
    clear:both;
    border:0px solid #E0E0E0;
    background: url('/img/underline.gif') no-repeat;
    background-position: -700 0;
    background-color: #fff;
}

div#coriander-haarlem-tab-content p.rss-title {
    font-weight: bold;
}

div#coriander-haarlem-tab { float: left; }
div#coriander-haarlem-tab-status {
    float: left;
    position:relative;
    color: #D0D0D0;
    padding: 5px;
    vertical-align: middle;
    margin:0px;
    line-height: 14px;
}

div.coriander-haarlem-tab-container div.tab {
    z-index:0;
    position:relative;
    border-color: #D1D1D1;
    border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    padding: 5px;
    width: 35px;
    text-align:center;
    background: url('img/top_gradient.png') repeat-x;
    background-position: 0 7;
    margin:0px;
    margin-left:5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
}